@model ChoixResto.ViewModels.HelperViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        Je suis la vue index
    </div>
    <h2>1. Directement dans le html</h2>
    <form>
        <input type="text" id="nom" value="@Model.Resto.Nom" />
        <input type="text" id="telephone" value="@Model.Resto.Telephone" />
        <input type="submit" value="Envoyer" />
    </form>
    <h2>2. Avec l'helper Html</h2>
    <form>
        @Html.TextBox("nom", Model.Resto.Nom, new { style = "color:red", @class = "mac-css" })
        @Html.TextBox("telephone", Model.Resto.Telephone)<br />
        @Html.Label("estMajeur", "Cochez la case si vous êtes majeur")
        @Html.CheckBox("estMajeur", true)<br />
        @Html.DropDownList("restoChoisi", (SelectList)ViewBag.ListeDesRestos)
        <input type="submit" value="Envoyer" />
    </form>
    @{ Html.BeginForm("Index", "Accueil");}
    @Html.Label("estMajeur", "Cochez la case si vous êtes majeur")
    @Html.CheckBox("estMajeur", true)
    <input type="submit" value="Envoyer" />
    @{ Html.EndForm();}
    <h2>Utilisation de using</h2>
    @using (Html.BeginForm("Index", "Accueil"))
    {
        @Html.Label("estMajeur", "Cochez la case si vous êtes majeur")
        @Html.CheckBox("estMajeur", true)
        <input type="submit" value="Envoyer" />
    }

    <h2>Helper fortement typé</h2>
    @Html.LabelFor(model => model.Resto.Telephone)
    @Html.TextBoxFor(model => model.Resto.Telephone)
</body>
</html>
